<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>
    <a href="/">Volver al menú</a>
    <h1>Crear Cliente</h1>

    <form id="form-cliente">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="telefono" placeholder="Teléfono" required>
        <button type="submit" id="btn-submit">Crear</button>
    </form>

    <p id="mensaje"></p>

    <h2>Clientes Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>telefono</th>
            </tr>
        </thead>
        <tbody id="tabla-clientes">
            <!-- Aqui se insertan las filas de forma dinamica -->
        </tbody>
    </table>

    <script src="/static/clientes.js"></script>
</body>
</html>